In [5]:
import pandas as pd
import numpy as np

In [6]:
userdata  = pd.read_csv("data/userbase.csv")
userdata.head()

   Customer_ID Gender Type                Email_Address  Age  Tenure
0            1      M    C                  Mph@msn.com   38      12
1            2      F    B  SophcYN7381qMe8lRqK@aol.com   37      23
2            3      F    C                   xE@msn.com   32      15
3            4      M    C          WduR0o0@comcast.net   31      24
4            5      M    C     walHI9cmWJIBKvy0@aol.com   35      13

In [10]:
ages = userdata["Age"].unique()
print("Type: ", type(ages), " Values: ",ages)
agessort = np.sort(ages)
print(agessort)

Type:  <class 'numpy.ndarray'>  Values:  [38 37 32 31 35 33 40 27 42 29 28 30 36 26 25 22 23 21 39 43 24 34 41 45
 46 48 18 44 58 19 47 20 52 53 49 50 56 57 51 54 59 55 63 61 60 62]
[18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63]

In [47]:
sent_emails = pd.read_csv("data/sent_emails.csv")
sent_emails.head()

    Sent_Date  Customer_ID  SubjectLine_ID
0  2016-01-28         1413               2
1  2016-03-02        83889               2
2  2016-03-09       457832               3
3  2016-01-20       127772               1
4  2016-02-03       192123               3

In [13]:
subjects = sent_emails["SubjectLine_ID"].unique()
subjectssort = np.sort(subjects)
print(subjectssort)

[1 2 3]

In [14]:
tenure = userdata["Tenure"].unique()
tenuresort = np.sort(tenure)
print(tenuresort)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 38]

In [37]:
responses = pd.read_csv(
    "data/responded.csv")
responses.head()

  Responded_Date  Customer_ID  SubjectLine_ID
0     2016-01-25       217102               3
1     2016-03-26       366875               2
2     2016-03-17       201561               2
3     2016-01-11       395345               3
4     2016-01-11       427539               3

In [34]:
responses.describe()
len(responses)

378208

In [24]:
sent_emails.dtypes

Sent_Date         object
Customer_ID        int64
SubjectLine_ID     int64
dtype: object

In [33]:
#found = sent_emails.query('Customer_ID == 217102 and SubjectLine_ID == 3 and Sent_Date == "2016-01-25" ', inplace=False)
found = sent_emails.query('Customer_ID==217102', inplace=False)
print(found)

          Sent_Date  Customer_ID  SubjectLine_ID
145055   2016-02-20       217102               3
385578   2016-03-04       217102               3
739358   2016-01-23       217102               3
1255703  2016-02-09       217102               1
2160442  2016-03-21       217102               1
2256036  2016-01-03       217102               1

In [36]:
found = responses.query('Customer_ID==217102', inplace=False)
print(found)

  Responded_Date  Customer_ID  SubjectLine_ID
0     2016-01-25       217102               3

In [9]:
def categorise(row):  
    if row['Age'] >= 18 and row['Age'] <= 29:
        val= 1
    elif row['Age'] >= 30 and row['Age'] <= 39:
        val = 2
    elif row['Age'] >= 40  and row['Age'] <= 49:
        val = 3
    else:
        val = 4
    return val

In [10]:
userdata['AgeCategory'] = userdata.apply(lambda row: categorise(row), axis=1)

In [11]:
userdata.head()

,Customer_ID,Gender,Type,Email_Address,Age,Tenure,AgeCategory
0,1,M,C,Mph@msn.com,38,12,2
1,2,F,B,SophcYN7381qMe8lRqK@aol.com,37,23,2
2,3,F,C,xE@msn.com,32,15,2
3,4,M,C,WduR0o0@comcast.net,31,24,2
4,5,M,C,walHI9cmWJIBKvy0@aol.com,35,13,2

In [13]:
def categoriseTenure(row):  
    if row['Tenure'] <10:
        val= 1
    elif row['Tenure'] >= 10 and row['Tenure'] <= 18:
        val = 2
    elif row['Tenure'] >= 19  and row['Tenure'] <= 28:
        val = 3
    else:
        val = 4
    return val

In [14]:
userdata['TenureCategory'] = userdata.apply(lambda row: categoriseTenure(row), axis=1)

In [15]:
userdata.head()

,Customer_ID,Gender,Type,Email_Address,Age,Tenure,AgeCategory,TenureCategory
0,1,M,C,Mph@msn.com,38,12,2,2
1,2,F,B,SophcYN7381qMe8lRqK@aol.com,37,23,2,3
2,3,F,C,xE@msn.com,32,15,2,2
3,4,M,C,WduR0o0@comcast.net,31,24,2,3
4,5,M,C,walHI9cmWJIBKvy0@aol.com,35,13,2,2

In [17]:
foundusers = userdata.query('Gender == "M" and Type == "C" and AgeCategory == 2 and TenureCategory == 2', inplace=False)
print(foundusers)

        Customer_ID Gender Type               Email_Address  Age  Tenure  \
0                 1      M    C                 Mph@msn.com   38      12
4                 5      M    C    walHI9cmWJIBKvy0@aol.com   35      13
9                10      M    C     v4oFiwefIEWJguk@msn.com   33      13
12               13      M    C           uqCdy@hotmail.com   33      11
23               24      M    C   wkKLhAWuGUPN1dt@gmail.com   32      12
...             ...    ...  ...                         ...  ...     ...
499972       499973      M    C                 3@yahoo.com   34      10
499975       499976      M    C     21vsnYWpfAY@hotmail.com   36      10
499987       499988      M    C              EgN5@gmail.com   35      14
499992       499993      M    C  E7sjvXN1Iba055aFhJ@aol.com   30      13
499998       499999      M    C          QkI8AH@hotmail.com   33      11

        AgeCategory  TenureCategory
0                 2               2
4                 2               2
9                 2               2
12                2               2
23                2               2
...             ...             ...
499972            2               2
499975            2               2
499987            2               2
499992            2               2
499998            2               2

[64364 rows x 8 columns]

In [19]:
s = "jhebeler@gmail.com"
s.find("gmail")

9

In [20]:
s.find("z")

-1

In [22]:
s.split("@")

['jhebeler', 'gmail.com']

In [29]:
def categoriseHost(row):  
    return row["Email_Address"].split("@")[1]

In [30]:
userdata['Host'] = userdata.apply(lambda row: categoriseHost(row), axis=1)

In [31]:
userdata.head()

,Customer_ID,Gender,Type,Email_Address,Age,Tenure,AgeCategory,TenureCategory,Host
0,1,M,C,Mph@msn.com,38,12,2,2,msn.com
1,2,F,B,SophcYN7381qMe8lRqK@aol.com,37,23,2,3,aol.com
2,3,F,C,xE@msn.com,32,15,2,2,msn.com
3,4,M,C,WduR0o0@comcast.net,31,24,2,3,comcast.net
4,5,M,C,walHI9cmWJIBKvy0@aol.com,35,13,2,2,aol.com

In [32]:
userdata['Host'].unique()

array(['msn.com', 'aol.com', 'comcast.net', 'yahoo.com', 'hotmail.com',
       'gmail.com'], dtype=object)

In [33]:
foundusers = userdata.query('Gender == "M" and Type == "C" and AgeCategory == 2 and TenureCategory == 2 and Host == "msn.com"', inplace=False)
print(foundusers)

        Customer_ID Gender Type               Email_Address  Age  Tenure  \
0                 1      M    C                 Mph@msn.com   38      12
9                10      M    C     v4oFiwefIEWJguk@msn.com   33      13
162             163      M    C   LefyeWM496jIcanhA@msn.com   34      17
173             174      M    C  mF9F3JtwFf2u24kWee@msn.com   36      11
271             272      M    C    0omsUvRjUHZlzEPT@msn.com   34      13
...             ...    ...  ...                         ...  ...     ...
499364       499365      M    C  iT3IZo2C9m3ptBFw1D@msn.com   35      13
499429       499430      M    C  Wrw7aAdV7p6FTkjDVd@msn.com   39      16
499706       499707      M    C                 UFB@msn.com   30      11
499768       499769      M    C     ulmkMGxhtCrph2T@msn.com   33      11
499910       499911      M    C         j1vzlwmlqff@msn.com   38      10

        AgeCategory  TenureCategory     Host
0                 2               2  msn.com
9                 2               2  msn.com
162               2               2  msn.com
173               2               2  msn.com
271               2               2  msn.com
...             ...             ...      ...
499364            2               2  msn.com
499429            2               2  msn.com
499706            2               2  msn.com
499768            2               2  msn.com
499910            2               2  msn.com

[9674 rows x 9 columns]

In [49]:
# creating a bool series from isin()
customerRespones = responses["Customer_ID"].isin(foundusers["Customer_ID"])
customerEmails = sent_emails["Customer_ID"].isin(foundusers["Customer_ID"])
responseCounter = 0
for i in customerRespones:
    if( i == True):
        responseCounter += 1
sentCounter = 0
for i in customerEmails:
    if( i == True):
        sentCounter += 1

print("Emails Sent: ",sentCounter, " Email Reponses: ", responseCounter, " Rate: ", round(responseCounter/sentCounter, 2))

Emails Sent:  47812  Email Reponses:  7031  Rate:  0.15

In [50]:
import numpy as np

class QLearningEmailMarketing:
    def __init__(self, actions, states):
        self.actions = actions
        self.states = states
        self.Q_table = np.zeros((len(states), len(actions)))
        self.lr = 0.1 # Learning rate
        self.gamma = 0.9 # Discount factor
        self.epsilon = 0.1 # Epsilon-greedy exploration
        
    def choose_action(self, state):
        if np.random.uniform(0, 1) < self.epsilon:
            # Random exploration
            action = np.random.choice(self.actions)
        else:
            # Choose the best action based on Q-value
            state_idx = self.states.index(state)
            action_idx = np.argmax(self.Q_table[state_idx, :])
            action = self.actions[action_idx]
        return action
    
    def learn(self, state, action, reward, next_state):
        state_idx = self.states.index(state)
        next_state_idx = self.states.index(next_state)
        action_idx = self.actions.index(action)
        
        # Q-learning update rule
        self.Q_table[state_idx, action_idx] += self.lr * (reward + self.gamma * np.max(self.Q_table[next_state_idx, :]) - self.Q_table[state_idx, action_idx])
        
    def get_conversion_rate(self, state, action):
        # Simulated conversion rate calculation
        # In a real-world scenario, this would be replaced with actual conversion rate data
        if state == 'Male':
            if action == 'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!':
                return 0.2
            elif action == 'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!':
                return 0.1
        elif state == 'Female':
            if action == 'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!':
                return 0.25
            elif action == 'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!':
                return 0.15
        
# Sample email marketing data
demographics = ['Male', 'Female']
email_subjects = [
    'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!',
    'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!'
]

# Initialize Q-learning agent
agent = QLearningEmailMarketing(email_subjects, demographics)

# Simulate email marketing campaign
for _ in range(1000): # Number of episodes
    for demographic in demographics:
        state = demographic
        action = agent.choose_action(state)
        conversion_rate = agent.get_conversion_rate(state, action)
        # Simulated reward based on conversion rate
        reward = conversion_rate
        next_state = demographic # For simplicity, next state is the same as current state
        agent.learn(state, action, reward, next_state)

# Print Q-table
print("Q-table:")
print(agent.Q_table)

Q-table:
[[1.99986291 1.87310497]
 [2.49980075 2.39306369]]

In [ ]:
import numpy as np

class QLearningEmailMarketing:
    def __init__(self, actions, states):
        self.actions = actions
        self.states = states
        self.Q_table = np.zeros((len(states), len(actions)))
        self.lr = 0.1 # Learning rate
        self.gamma = 0.9 # Discount factor
        self.epsilon = 0.1 # Epsilon-greedy exploration
        
    def choose_action(self, state):
        if np.random.uniform(0, 1) < self.epsilon:
            # Random exploration
            action = np.random.choice(self.actions)
        else:
            # Choose the best action based on Q-value
            state_idx = self.states.index(state)
            action_idx = np.argmax(self.Q_table[state_idx, :])
            action = self.actions[action_idx]
        return action
    
    def learn(self, state, action, reward, next_state):
        state_idx = self.states.index(state)
        next_state_idx = self.states.index(next_state)
        action_idx = self.actions.index(action)
        
        # Q-learning update rule
        self.Q_table[state_idx, action_idx] += self.lr * (reward + self.gamma * np.max(self.Q_table[next_state_idx, :]) - self.Q_table[state_idx, action_idx])
        
    def get_conversion_rate(self, state, action):
        # Simulated conversion rate calculation
        # In a real-world scenario, this would be replaced with actual conversion rate data
        if (state == 1  :
            if action == 'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!':
                return 0.2
            elif action == 'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!':
                return 0.1
        elif state == 'Female':
            if action == 'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!':
                return 0.25
            elif action == 'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!':
                return 0.15
        
# Sample email marketing data
demographics = ['Male', 'Female']
email_subjects = [
    'Subject: Elevate Your Learning Experience with Q Learning - Subscribe Now!',
    'Subject: Master Reinforcement Learning with Q Learning - Enroll Now!'
]

# Initialize Q-learning agent
states = list(range(1, 33))
actions = list(range(1,5))
agent = QLearningEmailMarketing(actions, states)

# Simulate email marketing campaign
for _ in range(1000): # Number of episodes
    for state in states:
        action = agent.choose_action(state)
        conversion_rate = agent.get_conversion_rate(state, action)
        # Simulated reward based on conversion rate
        reward = conversion_rate
        next_state = demographic # For simplicity, next state is the same as current state
        agent.learn(state, action, reward, next_state)

# Print Q-table
print("Q-table:")
print(agent.Q_table)

In [53]:
states = list(range(1, 19))
print(states)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [54]:
actions = list(range(1,5))
print(actions)

[1, 2, 3, 4]